body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3a8dff, #d1e9ff); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    position: relative;
}
.container {
    max-width: 900px;
    margin: 20px;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    text-align: left;
}
h1 {
    color: #000000; 
}
.description {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
select,
input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fafafa;
    transition: border-color 0.2s;
}
select:focus,
input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}
button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
#loadingMessage {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
    display: none; 
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}
footer a {
    color: #007BFF;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
